.aboutMediaContainer{
    height: 400px;
    width: 90%;

margin: auto;
}
.aboutMediaContainer video{
    height: 350px;
    width: 100%;
    object-fit: cover;
margin-top: 10px;
}
.aboutOverview{
    height: 416px;
    width: 90%;
 
    margin: auto;
    display: flex;
    background-color: rgba(190, 188, 188, 0.877);
}
.abtTxt{

   height: 416px;
   width: 50%;

}
.heading{
    height: 145px;
    width: 100%;

    
}
.heading h1{
    font-size: 3.4rem;
    position: relative;
    top: 10px;
    left: 70px;
}
.yellow{
    color: rgb(198 198 9);
}
.abtTxtPara{
    width: 100%;
    height: 160px;
    font-size: 17px;
    padding: 10px 70px;
}
.abtDetails{
    
       height: 416px;
       width: 50%;
       display: flex;
       flex-wrap: wrap;
      
}
.box{
    height: 200px;
    width: 288px;
    display: flex;
    flex-direction: column;
    margin: 5px 5px;
}
.AbtImg{
    height: 100px ;
    width: 100px;
    border-radius: 50%;
    background-color: white;
margin: 5px 10px;
}
.AbtImg img{
    height: 60px;
    width: 60px;
    position: relative;
    top: 17px;
    left: 19px;
}
.title{
    margin: 5px 16px;
    font-size: 19px;
    font-weight: bold;
}
.AbtTitle{
    height: 56px;
    width: 100%;
   
    padding: 5px 16px;
}
.knowMoreBtn{
    height: 60px;
    width: 120px;
    background-color: black;
    color: white;
    border: none;
    margin: 5px 70px ;
font-size: 18px;
}
.featuredCauses{
   min-height: 650px;
    width: 90%;
    margin: auto;
    position: relative;
    top: 10px;
 
    bottom: 20px;
}
.featuredTitle{
    height: 160px;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.featuredTitle h1{
    font-size: 3.4rem;
    font-weight: bold;
}
.featuredTitle span{
    color: rgb(198 198 9);
}
.featuredTitle p{
    width: 60%;
 font-size: 18px;
    padding: 10px 10px;
 text-align: center;
}
.cards{
    display: flex;
    justify-content: space-around;
    
}
.cardContainer{
    min-height: 475px;
    width: 360px;
    box-shadow: 0px 0px 14px 3px rgb(27, 27, 27);
    margin-top: 10px;
    border-radius: 23px;
}

.causeImg img{
    height: 215px;
    width:360px ;
    border-top-left-radius: 23px;
    border-top-right-radius: 23px;
}
.causeDetails{
    
    min-height: 200px;
    width: 100%;
}
.causeTitle{
    min-height: 60px;
    width: 100%;
    padding: 8px 8px;
    font-weight: bold;
    font-size: 29px;
}
.causeContent{
    min-height: 100px;
    width: 100%;
  
    padding: 8px 8px;
}
.readMore{
    height: 40px;
    width: 105px;
    padding: 8px 8px;
    position: relative;
    top: -12px;
    left: 4px;
}
.readMore a{
  
    color: black;
}